:root{
    --green-blue:#4D96A9;
    --dark-purple:#855FB1;
    --dark-blue:#28283D;
    --gray:#87879D;
    --light-blue:#8FE3F9;
    --light-purple:#D9B8FF;
    --ligh-white:#FAFAFA;
    --white:#fff
}